/**
* custom.css
*   Global design for our app
*/

:root {
    --success-color: rgb(13, 145, 4);
    --warning-color: rgb(225, 120, 29);
}

/**
* Rules : règles CSS
*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em; /* Equivalent to 16px default navigator font size */
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th { /** Rules factorization */
    border-bottom-width: 1px;
    border-bottom-color: #000;
    border-bottom-style: solid;
}

table thead tr, table tbody tr {
    height: 3em;
}

table thead tr th {
    border-bottom-width: 2px;
}

table tfoot tr td { /* Compound rule : règle composée */
    border-bottom: none;
}

/**
* Design button group
**/
table tbody tr td div a {
    text-decoration: none;
}
table tbody tr td div ul {
    display: none;
    list-style-type: none;
}

/**
* Button design
*/
a.btn, button.btn {
    border-radius: .4em;
    width: 5em;
    height: 2em;
    padding: 0.5em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
}

a.btn {
    display: block;
}
a.btn-success, button.btn-success {
    background-color: var(--success-color);
    color: #fff;
}

a.btn-warning, button.btn-warning {
    background-color: var(--warning-color);
    color: #fff; 
}

.menu-trigger[data-expanded] span {
    display: inline-block;
}
.menu-trigger[data-expanded="true"] span {
    transform: rotate(90deg);
}

.menu-trigger[data-expanded="false"] span {
    transform: rotate(0deg);
}

/**
* Loading animation
**/
div.outer-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, .7);
}

div.inner-box {
    position: relative;
    top: 50%;
    width: 3em;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
}

div.inner-box img {
    display: block;
    width: inherit;
    height: inherit;

}